#titulo_principal {
    background-color: chocolate;
    color: white
}

.titulo_secundario {
    background-color: darkolivegreen;
    color: white
}

label[for=mensagem] {
    display: block;
    margin-bottom: 6px;
}

body{
    /*Topografia CSS*/
    background-color: rgb(0,0, 0); /*Cor do fundo*/
    color: Rgb(255, 255, 255); /*Cor da fonte*/
    font-family: "Bitcount Grid Double", sans-serif; /*fonte*/
    font-size: 16px;
}
