#titulo_principal {
    background-color: chocolate;
    color: white
}

.titulo_secundario {
    background-color: darkolivegreen;
    color: white
}

label[for=mensagem] {
    display: block;
    margin-bottom: 6px;
}

body{
    background-color: Rgb(0, 0, 0);
    color
}
